/*Styling the Body*/
body{
    background-color: #e9ecef;
    font-family:Georgia;
    font-size:larger;
}

/*Styling the header*/
.parent{
    display: flex;
    justify-content: space-evenly;
}

/*Styling the anchor tags*/
a{
    text-decoration: none;
    color:#264653;
}
a:hover{
    font-size:x-large;
}

/*Styling the section parts*/
.section{
    font-size:x-large;
    color:#023047;
}

/* Styling the image*/
img{
    height:500px;
    width:485px;
    border-radius: 10px;
    border: 1px solid black;
    margin:5px;
}

/* Styling the Intro*/
#intro{
    display:flex;
    justify-content: center;
    font-size:xx-large;
    text-align: center;
}

/*Styling the divs under the images*/
th,td,form{
    padding:5px;
}

/* Styling the table*/
table, th, td {
    border: 1px solid black;
    margin-bottom: 10px;
}

/*Styling the textfield*/
.textfield{
    height:30px;
    width:500px;
    margin-bottom:10px;
}

#button{
    width:200px;
}

/*Styling the parent inline*/
.parentinline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.inline{
    padding:10px;
    text-align:center;
}

.imgcontainer{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table{
    width: 75%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
